# Copy the contents of this file into a new file called .env.

# The following key-value pairs will be added to process.env
# via the dotenv npm module, as used in server/index.js.

PGPORT=5432

# Replace the following values with ones corresponding to
# your local PostgreSQL configuration:
PGUSER='username'
PGHOST='localhost'
PGPASSWORD='password (empty string if none)'
PGDATABASE='database-name'